@import "../scss/variables";
@import "../scss/mixins";

.CartBuilder {
  width: 80rem;
  padding: 5rem;
  margin: auto;
  @include respond(tab-port) {
    width: 100%;
  }
}

.CartBuilderHeading {
  padding-bottom: 5rem;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: .1rem;
  color: $clr-primary-1;
  font-size: 3.6rem;
  text-align: center;
}