@import "../../../scss/variables";

.CartList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
  border-bottom: .3rem solid $clr-grey-4;
}

.CartListFooter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  color: $clr-primary-1;
  font-weight: 700;
  letter-spacing: .1rem;
  margin: 1rem 0 3rem;
}