@import "../../../scss/variables";

.ControlButton {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 8rem;
}

.Up,
.Down {
  font-size: 3rem;
  color: $clr-primary-4;
  cursor: pointer;
  transition: all .4s;
  &:hover {
    color: $clr-primary-6;
  }
  display: grid;
  place-items: center;
}

.Value {
  font-size: 2rem;
  color: $clr-grey-1;
  display: grid;
  place-items: center;
}