@import "../../../scss/variables";

.ControlButton {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 8rem;
}

.Up,
.Down {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 3rem;
  color: $clr-primary-4;
  cursor: pointer;
  transition: all .4s;
  &:hover {
    color: $clr-primary-6;
  }
  display: grid;
  place-items: center;
}

// .Down:disabled {
//   cursor: not-allowed;
//   color: $clr-primary-8;
// }

.Value {
  font-size: 2rem;
  color: $clr-grey-1;
  display: grid;
  place-items: center;
}